body{
	margin: 0;
}

header{
	background: SkyBlue ; 
	color: #767676;
	padding: 15px 15px 15px 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul{
	display: inline;
	margin: 0;
	padding: 0 0 0 15px;
	
}

nav ul li {
	background: #767676;
	color: white;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	list-style-type: none;
	border-radius: 5px;
}


nav ul li a {
	color: white;
	
}

.testBox{
	margin: 100px;
	padding: 10px;
	display: inline-block;
	background: red;
}

.testBox_active{
	margin: 100px;
	padding: 10px;
	display: inline-block;
	background: green;
}


.activate{
	background: #696565;
	padding: 5px 10px 10px 10px;
}

footer{
	position:absolute; left:20px; top:700px;
}


canvas{
	
	margin: 0px;
	

}

.points{
	
	display: inline-block;
	
	margin: 0px;
	
	
}